<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col col-sm-12 col-md-12 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h1 class="card-title">@SERBERNAL</h1>
            <div class="d-flex justify-content-between">
              <span class="badge bg-primary">#12574</span>
              <span class="badge bg-success">XP 12574</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-12 col-lg-4"></div>
      <div class="col col-sm-12 col-md-12 col-lg-4"></div>
    </div>
  </div>
</div>
<hr class="bg-danger border-2 border-top border-danger" />
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">Desafios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Torneos</a>
  </li>
  <li class="nav-item">
  <a class="nav-link">Equipos</a>
</li>
</ul>
<router-outlet name="profile-router-outlet"></router-outlet>
